def removal_rate_view(request):
    client = MongoClient('mongodb://cncmico:Qwerasdf8702!@10.156.133.102:27001,10.156.133.104:27001,10.156.133.106:27001/mico-platform-mongodb?authSource=mico-platform-mongodb&replicaSet=mdb-repl16')
    db = client['mico-platform-mongodb']

    user_info = get_user_info_from_workplace(request)

    selected_fab = ""
    selected_tech = ""
    selected_lot_cd = ""
    selected_process = ""
    selected_eqp_id = ""
    selected_apc_parameter = ""
    data = []
    chart_data = {}

    if request.method == 'POST':

        selected_fab = request.POST.get('fab')
        selected_tech = request.POST.get('tech')
        selected_lot_cd = request.POST.get('lot_cd')
        selected_process = request.POST.get('process')
        selected_eqp_id = request.POST.get('eqp_id')
        selected_apc_parameter = request.POST.get('apc_parameter')

        collection_name = f"MICO_Removal_Rate_{selected_lot_cd}_{selected_process}_{selected_fab}"

        try:
            collection = db[collection_name]

            latest_doc = collection.find(
                {"EQ":selected_eqp_id, "APC_Para" : selected_apc_parameter}
            ).sort("Date", -1).limit(2)

            all_doc = collection.find(
                {"EQ":selected_eqp_id, "APC_Para" : selected_apc_parameter}
            )

            df = pd.DataFrame(list(all_doc))

            df.info()

            for doc in latest_doc:
                filtered_doc = {}

                for key, value in doc.items():
                    if key in ['Date', 'EQ', 'APC_Para'] or ('b0' in key or 'b1' in key):
                        if key == "Date" and isinstance(value, datetime):
                            filtered_doc[key] = value.strftime("%y/%m/%d %H:%M")
                        elif("b0" in key or "b1" in key) and isinstance(value, (float, int)):
                            filtered_doc[key] = f"{value:.2f}"
                        else:
                            filtered_doc[key] = value
    
                data.append(filtered_doc)
            print(data)

            if not df.empty:
                
                # print("###############################")
                # df['Date'] = pd.to_datetime([df['Date']])
                # print("###############################")

                b0_cols = [col for col in df.columns if 'b0' in col]
                b1_cols = [col for col in df.columns if 'b1' in col]

                df_b0 = df[['Date'] + b0_cols]
                df_b1 = df[['Date'] + b1_cols]

                df_b0_melt = df_b0.melt(id_vars='Date', var_name='variable', value_name='value')
                df_b0_melt = df_b0_melt.where(pd.notnull)
                df_b1_melt = df_b1.melt(id_vars='Date', var_name='variable', value_name='value')
                df_b1_melt = df_b1_melt.fillna(value=None)

                chart_data = {
                    'b0': df_b0_melt.to_dict(orient='records'),
                    'b1': df_b1_melt.to_dict(orient='records'),
                }
            print('chart_data:' , chart_data)

        
        except Exception as e:
            print(f"MongoDB 조회 오류:{e}")


    return render(request, 'removal_rate.html', context={
        'user_info' : user_info,
        'data' : data,
        'selected_fab': selected_fab,
        'selected_tech': selected_tech,
        'selected_lot_cd': selected_lot_cd,
        'selected_process': selected_process,
        'selected_eqp_id': selected_eqp_id,
        'selected_apc_parameter': selected_apc_parameter,
        'chart_data_json' : json.dumps(chart_data, default=str)
        })


###############################

{% extends 'analysis.html' %}
{% load static %}

{% block analysis_content %}
<div class="rr-wrapper">
    <h2>Removal Rate 조회</h2>
    <form method="post" class="rr-form">
        {% csrf_token %}
        <div class="rr-input-row">
            <input type="text" class="rr-input" id="fab" name="fab" placeholder="Fab" value="{{ selected_fab }}">
            <input type="text" class="rr-input" id="tech" name="tech" placeholder="TECH" value="{{ selected_tech }}">
            <input type="text" class="rr-input" id="lot_cd" name="lot_cd" placeholder="LOT_CD" value="{{ selected_lot_cd }}">
            <input type="text" class="rr-input" id="process" name="process" placeholder="공정명" value="{{ selected_process }}">
            <input type="text" class="rr-input" id="eqp_id" name="eqp_id" placeholder="EQP_ID" value="{{ selected_eqp_id }}">
            <input type="text" class="rr-input" id="apc_parameter" name="apc_parameter" placeholder="APC_PARA" value="{{ selected_apc_parameter }}">
            <button type="submit" class="rr-button">조회</button>
        </div>
    </form>

    {% if data %}
        <div class="rr-table-container">
            <h3></h3>
            <table border="1" class="rr-table">
                <thead>
                    <tr>
                        {% for key in data.0.keys %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            {% for key, value in row.items %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>No Data</p>
    {% endif %}
    <canvas id="b0Chart"></canvas>
    <canvas id="b1Chart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm.chart.js"></script>
    <script src="{% static 'js/inline.js' %}"></script>
    <script>
        const chartData = JSON.parse('{{ chart_data_json|safe }}');
        console.log('chartData:', chartData);
        drawScatterCharts(chartData);
    </script>
</div>
{% endblock %}

#######################################

{% extends 'base.html' %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/analysis.css' %}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="left-menu">
        <ul class="menu-list">
            <li><a href="{% url 'mico:removal_rate' %}" class="menu-item" data-section="section1">Removal Rate</a></li>
        </ul>
    </div>
    <div class="right-content">
        {% block analysis_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}


##############################

{% load static %}


<!DOCTYPE html>
<html>
   <head>
       <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- Bootstrap CSS -->
       <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <!-- Style -->
       <title>{% block title %}{% endblock %}</title>
       <link href="{% static 'css/style.css' %}" rel="stylesheet">
       {% block extra_css %}{% endblock %}
   </head>
   <body>
        <header class = 'active'>
            {% if not request.GET.popup %}
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <img src="{% static 'images/logo.png' %}" alt="Logo" id="logo">
                        <a class="navbar-brand" >MICO Platform</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href ="{% url 'mico:dashboard' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href ="{% url 'mico:category_list' %}">Set-up</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href ="{% url 'mico:analysis' %}">Analysis</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href ="{% url 'mico:trend_view' %}">Trend</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <span class="nav-link"><i class="fa-solid fa-user"></i> &nbsp; 안녕하세요. {{ user_info.NAME_KOR }}님</span>
                            </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            {% endif %}
        </header>


    {% block content %}
    {% endblock %}

   </body>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="{% static 'js/mico.js' %}"></script>   
   <script src="{% static 'js/inline.js' %}"></script>   
   <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

</html>

